<IfModule mod_headers.c>
  <FilesMatch "\.html?$">
    Header set Cache-Control "no-cache, max-age=0, must-revalidate"
    Header set Expires "Thu, 01 Jan 1970 00:00:00 GMT"
  </FilesMatch>
</IfModule>

